/* 
  GENERAL 
 */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #F6F8F9;
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  width: 90%;
  max-width: 1015px;
  min-width: 600px;
  margin: 0 auto;
}

h1{
  display: inline-block;
  color: #000000;
  font-size: 50px;
  line-height: 90px;
  vertical-align: middle;
}

section{
  margin-bottom: 50px;
}



/* 
  UTILITIES 
*/
/*
  Do 
  content: '\02713';
 */

/* 
  Not do 
  content: '\02715';
*/

/* 
  Triangle
  content: '\025BC';
 */


/* 
  HEADER 
*/
header .header-top{
  height: 90px;
  background-color: #FFFFFF;
  margin-bottom: 50px;
}

header .logo img{
  width: 70px;
  vertical-align: middle;
  margin-left: 30px;
}


.header-bottom{
  background-color: #FFFFFF;
  height: 60px;
  padding: 20px 50px;
  border-radius: 8px 8px 0 0;
}

.header-bottom button{
  padding: 7px 10px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #C6CCD2;
}

.header-bottom #add-task{
  background-color: #46ADF1;
  color: #FFFFFF;
}

.header-bottom #add-section{
  background-color: #FFFFFF;
  color: #C6CCD2;
}
 



 /* 
  MAIN 
 */
 main{
  border-top: 3px solid #F6F8F9;
  background-color: #FFFFFF;
  padding: 30px 50px;
  border-radius: 0px 0px 8px 8px;
}

.actions h2{
  margin-bottom: 15px;
}

.actions h2::before{
  content: '\025BC';
}


.actions ul {
  list-style-type: none;
}

section .actions li{
  font-size: 20px;
  margin-bottom: 30px;
}



/* Do and not do  */
.do::before{
  content: '\02713';
  padding: 1px 4px;
  color: #6AC4AF;
  border: 1px solid #6AC4AF;
  border-radius: 50%;
}

.not-do::before{
  content: '\02715';
  padding: 1px 4px;
  color: #EA4137;
  border: 1px solid #EA4137;
  border-radius: 50%;
}



/* Label  */
.label{
  padding: 6px 10px;
  border-radius: 12px;
  border: 1px solid #C6CCD2;
  font-size: 12px;
  color: #FFFFFF;
}

.editorial{
  background-color: #44ABE9;
}


.q1-goals{
  background-color: #9B72E4;
}

.recruiting{
  background-color: #64C0A9;
}

.mobile{
  background-color: #F29E33; 
}


.website{
  background-color: #D763A1; 
}

.sales{
  background-color: #B0C925; 
}